:root {
    /*font*/
    --font-title: 24px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
    --title-font: 'Gugi', cursive;
  
    /*color*/
    --color-white: #ffffff;
    --color-beige: #fff3e0;
    --color-translucent-beige: rgba(255, 243, 224, 0.3);
    --color-brown: #ccc0ae;
    --color-darkbrown: #868078;
  }

  * {
    box-sizing: border-box;
    font-family: 'Poor Story', cursive;
  }
  

.review__register__modal {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    display: none;
  
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
  
    text-align: center;
    font-size: var(--font-title);
}

.review__register__modal .review__register__content {
  background-color: var(--color-white);
  width: 700px;
  height: 600px;
  border-radius: 10px;

  padding: 20px 30px;
  position: relative;
}

.review__register__modal .review__register__content .show__search__content {
  font-size: var(--font-large);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input#title, input#review{
  height: 30px;
  width: 200px;
  border: none;
  border-bottom: 1px solid var(--color-brown);
  padding-left: 10px;
  margin-bottom: 10px;
}

.review__register__modal .review__register__content button{
  border: none;
  outline: none;
  background-color: white;
  font-size: var(--font-medium);
  cursor: pointer;
  background-color: var(--color-brown);
  padding: 8px 12px;
  border-radius: 10px;
}

.review__register__modal .review__register__content .show__search__content .show__search__list {
  width: 70%;
  max-height: 300px;
  padding: 0;
  margin: 20;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
  background-color: var(--color-beige);
}

.review__register__modal .review__register__content .show__search__content .show{
  margin: 3px;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  justify-content: start;
}

.review__register__modal .review__register__content .show__search__content .show:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--color-brown);
}

.review__register__modal .review__register__content .show__search__content .show .show__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin-left: 20px;
}

.review__register__modal .review__register__content .review__register__form {
  font-size: var(--font-large);
}

.review__register__modal .review__register__content .review__register__form #color {
  border: none;
  background-color: var(--color-white);
  border-radius: 10px;
}